.App {
  text-align: center;
}

.App p {
  font-weight: bold;
}

.logo {
  margin: 40px auto 20px;
  border-bottom: 1.4px solid #cccc;
  padding-bottom: 8px;
  max-width: 600px;
  text-align: left;
}

.logo img {
  width: 150px;
  cursor: pointer;
}
.users {
  margin-top: -45px;
}

@media screen and (max-width: 768px) {
  .App {
    padding: 30px;
  }
}
